.DS_Store

CMakeFiles
CMakeFiles/**/*
Testing
Testing/**/*
lib
lib/**/*
gmock-1.6.0
gmock-1.6.0/**/*
glfw-2.7.8
glfw-2.7.8/**/*
glew-1.9.0
glew-1.9.0/**/*

CMakeCache.txt
CTestTestfile.cmake
Makefile
cmake_install.cmake
gtest-1.6.0

crimild_core_test

examples/Primitives/Primitives
examples/Picking/Picking
examples/Shapes/Shapes
examples/Textures/Textures
examples/Triangle/Triangle
examples/Lighting/Lighting
examples/Lightcycle/Lightcycle
examples/Blending/Blending
examples/Boundings/Boundings
examples/IronMan/IronMan
examples/Specular/Specular
examples/Drone/Drone
examples/PostProcessing/PostProcessing
examples/NormalMapping/NormalMapping
examples/GPUParticles/GPUParticles
examples/Interpolations/Interpolations
examples/Text/Text
examples/Physics/Physics
examples/Collada/Collada
examples/SkeletalAnimation/SkeletalAnimation
examples/ModelViewer/ModelViewer
examples/**/Debug
CRIMILD_EXAMPLES.build
CRIMILD_EXAMPLES.xcodeproj
CMakeScripts
*.*~
examples/Planets/Planets
examples/AncientTomb/AncientTomb
examples/**/*.exe
/bin
examples/ModelViewer/assets/models/*
examples/Bricks/Bricks
examples/ParticleShowcase/ParticleShowcase
*.crimild
/examples/ArcPrimitive/ArcPrimitive
/examples/ModelConverter/ModelConverter
/examples/ModelConverter/assets
/examples/Raytracing/Raytracing
*.ppm
*.jpg
examples/Occluders/Occluders
build
examples/ParallelFor/ParallelFor
examples/Raytracing/test.sh
examples/RenderOrder/RenderOrder
examples/RenderToTexture/RenderToTexture
examples/TextureFilters/TextureFilters
examples/RocketLaunch/RocketLaunch
examples/Shadows/Shadows
examples/Navigation/Navigation
examples/AudioRoom/AudioRoom

examples/RocketLaunch/RocketLaunch
examples/RocketLaunch/RocketLunch
.vscode
examples/Animations/Animations
examples/AnimationBlending/AnimationBlending
examples/SkinnedMesh/SkinnedMesh
examples/SkinnedMeshAdditiveBlending/SkinnedMeshAdditiveBlending
examples/SkinnedMeshBlending/SkinnedMeshBlending
examples/ShaderGraph/ShaderGraph
examples/**/*.app
SDL2ConfigVersion.cmake
*.vcxproj
*.vcxproj.*
*.sln
Win32
.vs
examples/RenderGraphs/RenderGraphs
examples/UICanvas/UICanvas
examples/Earth/Earth
examples/Spotlight/Spotlight
examples/Spotlight/Spotlight
examples/CubeMap/CubeMap
examples/Skybox/Skybox
examples/EnvironmentMapping/EnvironmentMapping
examples/Depth/Depth
build-web
examples/Saturn/Saturn
libvulkan.*
COPYONLY
examples/Textures/Textures
OBJLoader
examples/ImGUI/ImGUI
compile_commands.json

/include
build-xcode
imgui.ini
